@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.criteria {
	display: flex;
	font-family: "Open Sans", sans-serif;
}

p {
	margin-right: 1rem;
}

textarea {
	height: 5rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 4px;
	width: fit-content;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 0.5rem;
}

.grade {
	min-width: 10rem;
	background-color: grey;
	margin-left: 2rem;
}
