@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}
.header {
	display: flex;
	justify-content: space-between;
}
.heading {
	margin-left: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}
.accordion-section {
	margin-left: 0.5rem;
}
.guidance {
	width: 25rem;
	margin: 0.5rem;
	background-color: #eee;
	padding: 0.5rem;
	text-align: justify;
}
